config.js
listener/audit_auto_complete/env.js
listener/email_notification/env.js
cn
*.html
admin/*.html

backend/uploads/photo/*
!backend/uploads/photo/.gitkeep

backend/application/config/config.php

backend/application/controllers/*
!backend/application/controllers/ActionPlanController.php
!backend/application/controllers/AuditController.php
!backend/application/controllers/MQAAItemController.php
!backend/application/controllers/QuestionController.php
!backend/application/controllers/UserController.php

backend/application/models/*
!backend/application/models/ActionPlan.php
!backend/application/models/AuditTransaction.php
!backend/application/models/User.php